.player {
    width: 300px;
    display: flex;
    align-items: center;
    height: 120px;
    background-color: rgba(1, 1, 1, 0.3);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    span {
        font-size: 24px;
        margin-left: 16px;
    }

    img {
        margin-left: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}